
.lens {
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.5);
}

.preloader {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  background: url(../img/preloader.gif) no-repeat center center #fff;
  margin-left: -25px; /* Must be 50% of width */
  margin-top: -25px; /* Must be 50% of height */
  border-radius: 5px;
}

.popover {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #888;
}

.popover_sandbox img, .popover img {
  max-width: none;
}